<body class="para">
<div class="head">
    <p style="font-family:Forte;">GoodFood</p>
    <p id="title" style="font-family:Verdana, Geneva, Tahoma, sans-serif;">Food Delivering System</p>
</div>
<div >
    <p id="lines" style="font-family:Verdana, Geneva, Tahoma, sans-serif;">Our proposed model of designing website is meant for online food delivery system where the customer <br> can select the restaurant and it display the list of food items the customer has to select the food items <br> by adding in the cart and the cart has the customer selected foods and where admin can add, delete,<br> update the food items in the restaurant. These are the some functionality of the admin which reduces <br>the customer’s valuable time by ordering the food in online and it overcomes the disadvantages of the<br> traditional  queueing  system. The site has register, login, home, where the register page get the details <br>of customer while creating an account and when he login into the page the entered credentials are <br>checked with stored data in the database.</p>
</div>
</body>