<html>
    <body>
        <div class="admin">
            <button style="font-family:Algerian" routerLink="/adminlogin" id="b1">Admin</button>
            <button style="font-family:Algerian;" routerLink="login" id="b2" >Login</button>
        </div>
        <div class="back">
            
            <p style="font-family:Forte;">GoodFood</p>
            <div class="order">
                <button style="font-family:Verdana, Geneva, Tahoma, sans-serif;" id="button1" routerLink="/login">Order</button>
                <p style="font-family:'Times New Roman', Times, serif;">Food On Your Door Steps</p>
            </div>
        </div>
    </body>
</html>
