<body>
<table border="2" id="table" cellspacing="20" cellpadding="10" >
    <tr id="tr">
      <th>DAY</th>
      <th>BREAKFAST</th>
      <th>LUNCH</th>
    <th>DINNER</th>
     </tr>
    
  <tr>
      <td>Sunday</td>
      <td>Dosa</td>
      <td>Briyani</td>
      <td>Idly</td>
  </tr>

  <tr>
    <td>Monday</td>
    <td>Bread</td>
    <td>Rice</td>
    <td>Chapati</td>
</tr>

<tr>
    <td>Tuesday</td>
    <td>Pongal</td>
    <td>Rice</td>
    <td>Parotta</td>
</tr>

<tr>
    <td>Wednesday</td>
    <td>Puri</td>
    <td>Rice</td>
    <td>Dosa</td>
</tr>

<tr>
    <td>Thrusday</td>
    <td>Pongal</td>
    <td>Rice</td>
    <td>Chapatti</td>
</tr>

<tr>
    <td>Friday</td>
    <td>Soup</td>
    <td>Rice</td>
    <td>Variety Rice</td>
</tr>

<tr>
    <td>Saturday</td>
    <td>Idly</td>
    <td>Rice</td>
    <td>Dosa</td>
</tr>

</table>

</body>
