<html>
    <app-header></app-header>
    <head>
        <title>Order</title>
    </head>
    <body class="colour">
        <div>
            <button routerLink="/orders" id="bu">Order Summary</button>
        </div>
        <div class="resta1name">
            <p style="font-family:Bernard MT;">Chinese Restaurant</p>
            <img src="assets/img/chinese.jfif" style="height: 250px; width: 250px;">
            <button type ="b1" routerLink="/chineseadmin" id="bu1" style="font-family:Verdana, Geneva, Tahoma, sans-serif;">Modify Food</button>
        </div>
        <div class="resta2name">
            <p style="font-family:Bernard MT;">Burger King</p>
            <img src="assets/img/westernfood.jfif" style="height: 250px; width: 250px;">
            <button type ="b2" routerLink="/westadmin" id="bu2" style="font-family:Verdana, Geneva, Tahoma, sans-serif;">Modify Food</button>
        </div>
        <div class="resta3name">
            <p style="font-family:Bernard MT;">North Indian Food</p>
            <img src="assets/img/north-indian-cuisine.jpg" style="height:250px; width:250px;">
            <button type="b3" routerLink="/northadmin" id="bu3" style="font-family:Verdana, Geneva, Tahoma, sans-serif;">Modify Food</button>
        </div>
        <div class="resta4name">
            <p style="font-family:Bernard MT;">South Indian Food</p>
            <img src="assets/img/southindian.jpg" style="height:250px; width:250px;">
            <button type="b4" routerLink="/southadmin" id="bu4" style="font-family:Verdana, Geneva, Tahoma, sans-serif;">Modify Food</button>
        </div>
    </body>
</html>

