<html>
    <app-header></app-header>
    <head>
        <title>Order</title>
    </head>
    <body class="colour">
        <div class="resta1name">
            <p style="font-family:Bernard MT;">Chinese Restaurant</p>
            <img src="assets/img/download.jpg" style="height: 250px; width: 250px;">
            <button type ="b1" routerLink="/chinese" id="bu1" style="font-family:Verdana, Geneva, Tahoma, sans-serif;">Order Food</button>
        </div>
        <div class="resta2name">
            <p style="font-family:Bernard MT;">Burger King</p>
            <img src="assets/img/BurgerKing.jpg" style="height: 250px; width: 250px;">
            <button type ="b2" routerLink="/western" id="bu2" style="font-family:Verdana, Geneva, Tahoma, sans-serif;">Order Food</button>
        </div>
        <div class="resta3name">
            <p style="font-family:Bernard MT;">North Indian Food</p>
            <img src="assets/img/north.png" style="height:250px; width:250px;">
            <button type="b3" routerLink="/north" id="bu3" style="font-family:Verdana, Geneva, Tahoma, sans-serif;">Order Food</button>
        </div>
        <div class="resta4name">
            <p style="font-family:Bernard MT;">South Indian Food</p>
            <img src="assets/img/south.webp" style="height:250px; width:250px;">
            <button type="b4" routerLink="/south" id="bu4" style="font-family:Verdana, Geneva, Tahoma, sans-serif;">Order Food</button>
        </div>
    </body>
</html>
